
.Header {
  position: fixed;
  height: 12vh;
  width: 100%;
  font-size: 35px;
  text-align: center;
  background-color: rgb(178, 165, 155);
  color: rgb(250, 238, 209);
  top: 0%;
  z-index: 1;
  border-bottom: 1px solid rgb(96, 114, 116);
  
}
.Header-Title {
  
  display: inline-block;
  align-items: center;
  margin: 0 auto;
  margin-left: 100px;
 
}
h1{
  font-size: 95px;
}
.Links{
  position: absolute;
  display: inline-block;
  background-color: rgb(96, 114, 116);
  font-size: 20px;
  width: 100px;
 height: 35px;
 padding-top: 3px;
  border:1px solid white;
  position: absolute;
  margin-left: 420px;
  top: 63px;
  border-radius: 9px;
  border:none;
  color: rgb(250, 238, 209);


}


.log-out-btn{
  position: absolute;
  width: 100px;
  height: 35px;
  border: none;
  background-color: rgb(96, 114, 116);
  margin-left: 550px;
  top: 60px;


}
