
.side-menu{
  position: fixed;
  background-color: rgb(178, 165, 155);
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width.2s ease-in ;
  top: 140px;
}
.side-menu.inactive{
  width: 100px;
}
.side-menu .top-section{
  position: relative;

}
.side-menu .top-section .logo{
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
}
.side-menu .top-section .logo img{
  max-width: 100%;
  max-height: 100%;
}
.side-menu .top-section .toggle-menu-btn{
  color:black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.side-menu.inactive .top-section .toggle-menu-btn{
  right: -50px;
  cursor: pointer;
}
.side-menu .search-controller{
  color: rgb(241, 229, 238);
  position: relative;
}

.side-menu .search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: darkgray;
  top: -2px;
  margin-left: 13px;
  cursor: pointer;
  
}
.side-menu .search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
  background:  rgb(250, 238, 209);
  border-radius: 5px;
  display: block;
  margin: 30px 0;
  width:100%;
  box-sizing: border-box;
  padding-left:60px;
  color: white;
}
.divider{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #222;

}
.side-menu .main-menu{
  margin: 10px 0;
  margin-left: -30px;
}
.side-menu .main-menu .menu-item{
  color: rgb(96, 114, 116);
  text-decoration: none;
  font-size: 20px;
  display: block;
  font-weight: 600px;
  cursor: pointer;  
  
}
li{
  list-style: none;
}
.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
  color: rgb(250, 238, 209);
  
}
.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;

}
.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  
  

}
.side-menu .main-menu .sub-menu.active{
  max-height: 200px;


}
.side-menu .main-menu .sub-menu{
  color: black;
  margin-left: 20px;
  border-left: 1px solid ;
  border-color: black;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;
  

}
.side-men .main-menu .sub-menu a{
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600px;
  color: black;
}


